services:
  spark-master:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"  # Master Web UI
      - "7077:7077"  # Master Port
    volumes:
      - ./data:/opt/spark/data
      - ./src:/opt/spark/src
    environment:
      - INIT_DAEMON_STEP=setup_spark
    networks:
      - spark-network

  spark-worker-1:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker-1
    volumes:
      - ./data:/opt/spark/data
      - ./src:/opt/spark/src
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-network

  spark-worker-2:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker-2
    volumes:
      - ./data:/opt/spark/data
      - ./src:/opt/spark/src
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge
